<form action="/pets/upload" method="POST" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="age" placeholder="Age">
    <input type="text" name="species" placeholder="Species">
    <input type="text" name="breed" placeholder="Breed">
    <input type="file" name="file">
    <button type="submit">Send</button>
</form>